# Ignore dataset
dataset/
datasets/
data/
ImageSuperResolution.zip
run

# Ignore model weights
super_resolution.pt
inpainting.pt
best_model.pt
best_model.pth
yolo.pth.tar
yolo11x.pt
yolov8s-world.pt

